*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #8f57fd;
    font-family: 'Mulish', sans-serif;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 40px;
}

.header__img{
    width: 200px;
    height: 70px;
}

.nav{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    text-align: right;
    height: 100px;
}

.nav:hover .nav__items{
    display: block;
}

.nav__img{
    width: 50px;
}

.nav__items{
    display: none;
    position: absolute;
    top: 80px;
    list-style: none;
}

.nav__items a{
    display: block;
    padding: 2px 0px;
    text-decoration: none;
    color: white;
}

.nav__items a:hover{
    text-decoration: underline;
}

.main{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.main__input{
    width: 70%;
    padding: 18px;
    border-radius: 30px;
    outline: none;
    border: 2px solid white;
    font-size: 17px;
    background-color: rgb(166 132 235 / 86%);
    color: white;
    font-family: 'Mulish', sans-serif;
}

.main__input::placeholder{
    color: white;
}

.cards{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 30px;
    overflow: auto;
    height: 350px;
    flex-wrap: wrap;
}   

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: teal;
    height: 250px;
    width: 200px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform .6s, margin .6s; 
    overflow: hidden;
    position: relative;
    
}

.card:hover{
    transform: scale(1.5);
    margin: 0px 50px;
}

.card__background{
    height: 250px;
    width: 200px;
    object-fit: cover;
    position: absolute;
    border-radius: 20px;
}

.card__details{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 2px;
    z-index: 2;
}

.card__details__icons img{
    height: 35px;
}