@import url(./header.css);
@import url(./main.css);
@import url(./cards.css);

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #8f57fd;
    font-family: 'Mulish', sans-serif;
    color: white;
}
