.footer__list{
    padding-left: 30px;
    position: absolute;
    bottom: 30px;
    display: flex;
    align-items: flex-end;
    list-style: none;
    font-size: 14px;
    
}

.footer__list a{
    color: white;
    text-decoration: none;
    margin: 0 20px;
}